---
layout: default
---

<div class="post_title">
  <div id="post_title">
    <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
  </div>
  <div id="date">
    {{ page.date | date: "%A, %d %B %Y" }}
  </div>
  <div id="share">
    <a class="instapaper" href="http://www.instapaper.com/hello2?url=http%3A%2F%2Fwww.johng.co.uk{{ page.url }}&title={{ page.title }}">Add to Instapaper</a>
    <a class="twitter" target="_blank" href="http://twitter.com/share?url=http://www.johng.co.uk{{ page.url }}&text={{ page.title }}&via=johng&related=johng">Tweet this</a>
  </div>
</div>

<hr>

<div id="post">
{{ content }}
</div>

<div id="comments">
  <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/johngblog/embed.js"></script><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=johngblog">comments powered by Disqus.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
<a rel="author" href="https://profiles.google.com/johnog">
  <img src="http://www.google.com/images/icons/ui/gprofile_button-16.png">
</a>